@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=Montserrat:wght@300&display=swap");

@page {
    size: A4 portrait;
    margin: 20mm;
}

/* Root */
root {
    --vh: calc(100vh - 1px);
    --vw: calc(100vw - 1px);
}

/* ------------------------------------------- */
/* Global default */
html {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23eeeeee' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 100vh;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;

    text-align: justify;
}

body {
    margin: 5vw;
    background: #fff;

    min-height: 100vh;
    width: 80vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
header ~ blockquote,
header ~ .sourceCode,
header ~ pre {
    margin-left: 10vw;
    margin-right: 10vw;
}

header ~ p,
header ~ ul,
header ~ ol {
    margin-left: 11vw;
    margin-right: 10vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-top: 20px;
    text-underline-offset: 0.5em;
    text-decoration: underline;
    text-decoration-thickness: 0.25em;
    text-decoration-color: #ffe5d9;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

img,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
figcaption,
table {
    break-inside: avoid;
}

img {
    /* Center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

a {
    color: #343139;
    text-decoration: none;
    border-bottom: 0.125em solid #ff6407;
    box-shadow: inset 0 -0.125em 0 #ff6407;
    transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1),
        color 270ms cubic-bezier(0.77, 0, 0.175, 1);
}

a:hover {
    box-shadow: inset 0 -1.125em 0 #ff6407;
    color: #000;
}

a:focus {
    background: #fff;
    outline: none;
    background: #ff6407;
    color: #fff;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: disc;
}

li {
    margin-left: 5px;
}

ul ul {
    margin-left: 1em;
}

.sourceCode {
    overflow: scroll;
}

blockquote {
    border-left: 0.5em solid #ff6407;
    padding-left: 0.5em;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Merienda", cursive;
}

blockquote p {
    margin: 10px;
    font-size: 1.05em;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

p em {
    background: url("https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffb4a2");
}

.title,
.author,
.subtitle,
.date {
    text-align: center;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.author,
.subtitle,
.date {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

/* TODO : JS with classes because in print mode, doesn't detect CSS computing */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #e9c46a;
    color: white;
    font-weight: bold;
}

.sourceCode,
.sourceCode pre,
.sourceCode pre code,
pre code,
.hljs {
    background: #282c34 !important;
    border-radius: 5px;
    font-family: "FiraCode Nerd Font";
}

p code {
    background: #edede9;
    border-radius: 5px;
}

#TOC {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

#TOC ul {
    list-style: decimal;
}

#TOC a {
    color: #343139;
    border-bottom: none;
    box-shadow: none;
}

#TOC a:hover {
    box-shadow: none;
    color: #000;
    border-bottom: solid 0.125em #ff6407;
}

#toc-label {
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: #ffe5d9;
}

.print-button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    width: 70px;
    background: #ff6407;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

button {
    /* Remove everyting */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

@media screen {
    .header-checkbox {
        display: none;
    }
}

/* responsive grid*/
@media (max-width: 970px) {
    li {
        width: 180px;
    }
}

@media (max-width: 425px) {
    li {
        width: 100%;
    }
}

/* Print */
@media print {
    html {
        width: 210mm;
    }

    body {
        margin: 0;
        width: 100%;
        padding: 0;
        box-shadow: none;
        font-size: 0.8em;
        -webkit-print-color-adjust: exact;
        /* HMMMMMMMM */
        print-color-adjust: exact;
    }

    #TOC {
        /* break page */
        page-break-after: always;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    body,
    header ~ blockquote,
    header ~ .sourceCode,
    header ~ pre {
        margin-left: 2cm;
        margin-right: 2cm;
    }

    header ~ p,
    header ~ ul,
    header ~ ol {
        margin-left: 2.3cm;
        margin-right: 0.5cm;
    }

    ul ul,
    ol ul,
    ol ol {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    ul {
        width: 100%;
    }

    header,
    .title,
    .author,
    .subtitle,
    .date {
        margin-bottom: 15px;
    }

    .title {
        font-size: 2em;
    }

    .author,
    .subtitle,
    .date {
        font-size: 1.24em;
    }

    .header-checkbox {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        vertical-align: middle;
    }

    .sourceCode,
    .sourceCode pre,
    .sourceCode pre code,
    pre code,
    .hljs {
        /* Reduce ink */
        background: #fff !important;
    }

    .hljs {
        border-radius: 5px;
        border: 1px solid #000;
    }

    .no-print {
        display: none;
    }
}
